<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 
	<context:property-placeholder location="classpath:openstackswift.properties" />
	 -->
	<!-- <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:openstackswift.properties" />
	</bean>
 -->
	<bean id="swiftUploadPojo" class="com.sspaas.sspaascloud.util.swift.SwiftUploadPojo">
		<property name="projectId" value="${openstack.projectId}"></property>
		<property name="userName" value="${openstack.userName}"></property>
		<property name="password" value="${openstack.password}"></property>
		<property name="endPointUrl" value="${openstack.endpointURL}"></property>
		<property name="swiftUrl" value="${openstack.swiftUrl}"></property>
		<property name="secretKey" value="${openstack.secretKey}"></property>
		<property name="tempUrlPref" value="${openstack.tempUrlPref}"></property>
		<property name="expiresTime" value="${openstack.expiresTime}"></property>
		<property name="domainName" value="${openstack.domainName}"></property>
	</bean>


</beans>