<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sspaas.sspaascloud.dao.appmng.android.AndroidVersionMapper">
	<resultMap id="BaseResultMap"
		type="com.sspaas.sspaascloud.entity.appmng.AndroidVersion">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, version, update_time, url, state
	</sql>


	<!--获取最新版本 -->
	<select id="getLastVersion" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from android_version
		where update_time = (select max(update_time) from
		android_version where
		state = 1)

	</select>

</mapper>